.product{
  display: flex;
  .product-detail-content{
    margin-left: 80px;
    .product-name {
      .productTitle {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.25;
        max-height: 50px;
        overflow: hidden;
        margin-bottom: 5px;
      }
    }
    .baremList{
      margin-top: 40px;
      .baremDiv{
        cursor: pointer;
        margin-top: 20px;
        .barem{
          font-size: 12px;
          border: 1px solid $textColorDarkKit;
          padding: 10px;
          margin-right: 10px;
          font-weight: 400;
          width: 150px;
          float: left;
          text-align: center;
        }
        .baremChange{
          border-color: yellow;
          background-color: antiquewhite;
        }
      }
    }
    .piece{
      margin-top: 30px;
      input{
        margin-left: 20px;
      }
    }
    .baremError{
      color: $colorRed;
      margin-top: 20px;
      font-size: 11px;
      display: none;
    }
    .totalPrice{
      margin-top: 20px;
    }
    .basketDiv{
      .basketBtn{
        text-align: center;
        background-color: $colorOrangeKit;
        color: $colorWhite;
        padding: 10px 40px;
        margin-top: 20px;
        cursor: pointer;

      }
      .disabled {
        background: $colorInputBorderActiveKit;
      }
    }
  }
  .attributes{
    .items{
      ul{
        display: flex;
        margin-right: 30px;
        .form-group{
          margin-right: 30px;
          margin-top: 10px;
        }
      }
    }
  }
  .product-image{
    text-align: center;
    margin-left: 50px;
    .bigImages{
      height: 300px;
      width: 300px;
      margin-bottom: 30px;
    }
    .images{
      display: flex;
      .smallImages{
        img{
          height: 100px;
          width: 100px;
          border: 1px solid gray;
          margin-right: 5px;
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.form-group {
  display: block;
  margin-bottom: 15px;

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  label {
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid #d4d5d7;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 10px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
      border-radius: 5px;
    }
  }

  input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid $textColorDarkKit;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  // Disabled state label.
  input:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  input:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }
}

.value-button {
  display: inline-block;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

 #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

 #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

input#number {
  text-align: center;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}