.header{
    padding: 20px;
    strong{
        color:orange;
        font-size:24px;
        float: left;
    }

    span{
        font-size:18px;
        float: right;
        bold{
            font-weight: 600;
        }
    }
}